* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 64px;
}

.box-1 {
  width: 200px;
  height: 200px;
  background-color: orange;
  border-radius: 16px;
}

.box-1:hover {
  width: 250px;
  height: 250px;
  transition-property: all;
  transition-duration: 100ms;
}

.hov